<h5>Sign Up</h5>

<div class="form">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="">First Name</label>
        <input [(ngModel)]="firstName" type="text" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="">Last Name</label>
        <input [(ngModel)]="lastName" type="text" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="">Email</label>
        <input [(ngModel)]="email" type="email" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="">Phone Number</label>
        <input [(ngModel)]="phone" type="tel" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="">Address</label>
        <textarea [(ngModel)]="address" class="form-control" rows="10"></textarea>
      </div>
    
      <div class="form-group">
        <button (click)="onSignup()" class="btn btn-success">Signup</button>
        <button (click)="onCancel()" class="btn btn-danger float-right">Cancel</button>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  
</div>